*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navstyling{
    background-color:#F5D6F5;
    height: 70px;
    border:1px double black;
    border-radius: 25px;
}
.homestyle{
    border: 1px solid #272932;
    border-radius: 25px;
    margin: 30px;
    min-height: 280px;
}
.footerstyling{
    width: 100%;
    min-height 90px;
background-color: black;
border-radius: 20px;

}
.footstyling > h1{
    color: white
    text-align:center;

}
.socialmedia > a{
    color: white
    padding-left: 2px;
    margin-left: 10px;
}